*  

{ 
  box-sizing: border-box; 
} 
body  
{ 
  font-family: Verdana, sans-serif; 
  /*background-color: #01040c;*/
} 
  
.image-sliderfade  
{ 
  display: none; 
} 
  
img  
{ 
  vertical-align: middle; 
} 
  
/* Slideshow container */
.container  
{ 
  max-width: 1000px; 
  position: relative; 
  margin: auto; 
} 
  

/* The dots */
.dot  
{ 
  height: 15px; 
  width: 15px; 
  margin: 0 2px; 
  background-color: transparent; 
  border-color: #ddd; 
  border-width: 5 px; 
  border-style: solid; 
  border-radius: 50%; 
  display: inline-block; 
  transition: border-color 0.6s ease; 
} 
  
.active  
{ 
  border-color: #666; 
} 
  
/* Animation */
.fade  
{ 
  -webkit-animation-name: fade-image; 
  -webkit-animation-duration: 1.5s; 
  animation-name: fade-image; 
  animation-duration: 1.5s; 
} 
  
@-webkit-keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
@keyframes fade-image 
{ 
  from {opacity: .4}  
  to {opacity: 1} 
} 
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px)  
{ 
  .text {font-size: 11px} 
} 


.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(0, 162, 255);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(0, 195, 255);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.loginbox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background:rgb(0,195,225) ;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    padding: 12px 18px;
    
    
    }
    .loginbox input[type="button"]:hover{
    cursor: pointer;
    background:rgb(251, 255, 0);
    color: #000;
    }
    
